{% extends "admin/layout.twig" %}
{% block content  %}
    <div class="container text-center py-5">
        <div class="col-md-8 mx-auto mb-5">
            <img src="/resources/assets/images/svg/403.svg" class="img-fluid" alt="">
        </div>
        <p class="lead">You do not have sufficient permissions to access this pages</p>
    </div>
{% endblock %}