{% extends "admin/layout.twig" %}
{% block content  %}
    <div class="container text-center py-5">
        <div class="col-md-8 mx-auto mb-5">
            <img src="/resources/assets/images/svg/500.svg" class="img-fluid" alt="">
            <p class="lead my-5">Your registration application is under approval. You will be able to access our members area once it is approved. Thank you. </p>
        </div>
    </div>
{% endblock %}