{% extends "layout.twig" %}
{% block content  %}
    <main>
        <div class="bg-light py-5">
            <div class="container text-center text-primary"><h3>Our Sponsors</h3></div>
        </div>
        <div class="container my-5">
            <div class="row">
                {%  for sponsor in data %}

                    <div class="
                        my-4
                        {% if sponsor.sponsor_type == 'a' %} col-md-12
                        {% elseif sponsor.sponsor_type == 'b' %} col-md-6
                        {% else %} col-md-4
                        {% endif %}"
                    >
                        <a href="/sponsors/{{ sponsor.id }}">
                            <div class="card shadow">
                                <div class="card-header bg-white text-primary"><h2>{{ sponsor.name }}</h2></div>
                                <div class="card-body d-flex align-items-center">
                                    <img src="/files/sponsors/{{ sponsor.logo }}" loading="lazy" class="img-fluid" alt="{{ sponsor.name }} logo">
                                </div>
                            </div>
                        </a>

                    </div>

                {% endfor %}
            </div>

        </div>
    </main>
{%  endblock  %}