{% extends "layout.twig" %}
{% block content  %}
    <main>
        <div class="bg-light py-5">
            <div class="container text-center"><h3>Contact us</h3></div>
        </div>
        <div class="container my-5">
{#
            <div class="card card-body bg-white shadow rounded">
#}
{#                <div class="row">#}
{#                    <div class="col-md-3">#}
{#                        <img src="https://symposium-2020.megma.org/uploads/leqaa_logo.jpeg" class="img-fluid" />#}
{#                    </div>#}
{#                    <div class="col-md-9 align-self-center">{{ decode(data)|raw }}</div>#}
{#                </div>#}
            {#</div>#}
                {{ decode(data)|raw }}
        </div>
    </main>
{%  endblock  %}