{% extends "layout.twig" %}
{% block content  %}
    <main>
        <div class="bg-light py-5">
            <div class="container text-primary text-center"><h3>Conference Videos</h3></div>
        </div>
        <div class="container my-5">
            <div class="row">
                {% for video in data %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="ratio ratio-16x9">
                                <iframe type="text/html" width="100%" src="{{ video.url }}"></iframe>
                            </div>
                            <div class="card-body">
                                <p class="lead">{{ video.video_name }}</p>
                                <p><b>Speaker: </b>{{ video.name }}</p>
                                {{ decode(video.video_description)|raw }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{%  endblock  %}