<div class="container-fluid">
    <div class="row g-3 justify-content-center">
        <div class="col-3 col-md-1"><img src="/resources/assets/images/flags/us.svg" class="img-fluid rounded shadow" alt=""></div>
        <div class="col-3 col-md-1"><img src="/resources/assets/images/flags/gb.svg" class="img-fluid rounded shadow" alt=""></div>
        <div class="col-3 col-md-1"><img src="/resources/assets/images/flags/au.svg" class="img-fluid rounded shadow" alt=""></div>
        <div class="col-3 col-md-1"><img src="/resources/assets/images/flags/sg.svg" class="img-fluid rounded shadow" alt=""></div>
        <div class="col-3 col-md-1"><img src="/resources/assets/images/flags/sa.svg" class="img-fluid rounded shadow" alt=""></div>
        <div class="col-3 col-md-1"><img src="/resources/assets/images/flags/de.svg" class="img-fluid rounded shadow" alt=""></div>
        <div class="col-3 col-md-1"><img src="/resources/assets/images/flags/qa.svg" class="img-fluid rounded shadow" alt=""></div>
        <div class="col-3 col-md-1"><img src="/resources/assets/images/flags/ae.svg" class="img-fluid rounded shadow" alt=""></div>
        <div class="col-3 col-md-1"><img src="/resources/assets/images/flags/om.svg" class="img-fluid rounded shadow" alt=""></div>
        <div class="col-3 col-md-1"><img src="/resources/assets/images/flags/jo.svg" class="img-fluid rounded shadow" alt=""></div>
    </div>
</div>