<section style="margin-top: -20px" class="header d-flex align-items-center">
    <div class="p-0 m-0">
        <div class="row p-0 m-0 justify-content-between">
            <div class="col-md-4 offset-md-1 align-self-center">

                <p class="fw-bold lead text-uppercase text-muted font-monospace ps-1" style="letter-spacing: 4px">4th - 6th November, 2021</p>
                <h1 class="fw-light h3 text-primary"><span class="text-primary">2nd International Middle East Genetics and Metabolic Academy (MEGMA) Symposium</span></h1>
                <br>
                <a href="https://zoom.us/webinar/register/WN_x6y23RsbS4K_t8RuoOaMsQ" target="_blank" class="btn btn-primary px-4">Register now</a>
                <a href="/speakers" class="btn btn-success ms-3 px-4">Our speakers</a>

            </div>
            <div class="col-md-6 p-0 pl-5 m-0 d-none d-md-block">
                <img src="/resources/assets/images/headers/header2.png" loading="lazy" alt="" class="w-100 shadow rounded">
            </div>
        </div>
    </div>
</section>
<section class="sponsors container-fluid">
    <div class="row">
        {% for sponsor in sponsors %}
            <div class="col-md-2 col-6 mb-4 align-self-center text-center p-md-4">
                <a target="_blank" href="/sponsors/{{ sponsor.id }}">
                    <img loading="lazy" {%  if sponsor.id == 2 %}style="height: 90px"{% endif%}
                         src="/files/sponsors/{{ sponsor.id == 1? 'vriton.png' : sponsor.logo }}"
                         class="img-fluid" alt="">
                </a>
            </div>
        {% endfor %}
    </div>
</section>
