{% extends "layout.twig" %}
{% block content  %}
    <main class="home">
        {% include "guest/home/components/header.twig" %}
        {% include "guest/home/components/flags.twig" %}
        {% include "guest/home/components/speakers.twig" %}
        {% include "guest/home/components/agenda.twig" %}
    </main>
{%  endblock  %}