{% extends "layout.twig" %}
{% block content  %}
    <main>
        <div class="bg-light py-5">
            <div class="container text-center"><h3>Speakers</h3></div>
        </div>
        <div class="container my-5">
            {% if data|length > 0 %}
                {%  for speaker in data %}
                    <div class="row mb-4" >
                            <div class="col-md-3">
                                <div class="card text-center card-body">
                                    <div class="p-md-4">
                                        <div class="ratio ratio-1x1">
                                            <img loading="lazy" src="/files/speakers/{{ speaker.image }}" class="border border-4 border-primary" style="border-radius: 100%" alt="">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        <div class="col-md-9">
                            <div class="card p-md-5 card-body">
                                <h3 class="text-primary">{{ speaker.name }}</h3>
                                <p class="fw-bold text-muted">{{ speaker.affiliation }}</p>
                                <p>{{ speaker.bio }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                No Speakers
            {% endif %}
        </div>
    </main>
{%  endblock  %}